<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，唯一特性 -->
<mapper namespace="com.example.ssoshiro.dao.UserMapper">

    <select id="selectMessage" resultType="java.lang.Integer">
      SELECT * from user,comment where user.id=uid
    </select>
</mapper>
